extends layout 

block content 
        
        .jumbotron
            h1.display-4 Login
            p.lead Connectez-vous !
        .row
          .col-sm-6
            div is Authenticated : #{authenticated}
            div is Admin : #{isAdmin}
            div Login : #{userLogin}
        .row.justify-content-center
          .col-sm-6
            form(method="GET")
            .enregister
              label.col-sm-2.col-form-label(for='login') 
              input.text(type="text",name='login', id='login', placeholder="Login" value=query.login)
              br
              label.col-sm-2.col-form-label(for='password') 
              input.password(type="password",name='password', placeholder="Password" id='password')
              br
              button(type="submit" class="buttonn") Se Connecter
                