footer.text-center.text-lg-start(style='background-color: #db6930;')
  .container.d-flex.justify-content-center.py-5
    button.btn.btn-primary.btn-lg.btn-floating.mx-2(type='button' style='background-color: #54456b;')
      i.fab.fa-facebook-f
    button.btn.btn-primary.btn-lg.btn-floating.mx-2(type='button' style='background-color: #54456b;')
      i.fab.fa-youtube
    button.btn.btn-primary.btn-lg.btn-floating.mx-2(type='button' style='background-color: #54456b;')
      i.fab.fa-instagram
    button.btn.btn-primary.btn-lg.btn-floating.mx-2(type='button' style='background-color: #54456b;')
      i.fab.fa-twitter
  //  Copyright 
  .text-center.text-white.p-3(style='background-color: rgba(0, 0, 0, 0.2);')
    | 
© 2020 Copyright:

    a.text-white(href='https://mdbootstrap.com/') MDBootstrap.com
  //  Copyright 
